{"result":{"content":"figuras/\n__pycache__/\n","encoding":"utf-8","sha":"8bd8731623ab2e0953b6c3b472be773b47ff2994","display_url":"https://github.com/SarahGomez/IA_WorkShop/blob/main/WORKSHOP2/.gitignore","display_title":".gitignore"}}